#gameBoard {
    display: flex;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column-reverse;
    width: 100px;
    height: 600px;
    border: 5px solid black;
  }
  
  .dot {
    align-self: flex-end;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    pointer-events: none;
  }
  
  .coral {
    background-color: lightcoral;
  }
  
  .seagreen {
    background-color: lightseagreen;
  }
  
  
  
  